/* Base footer styles */
.footer {
  padding: 30px 20px;
  background: linear-gradient(to right, #6b47dc, #331455); /* Gradient background */
  color: white;
  text-align: center;
}

.footer-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ddd;
}

/* Responsive styles for mobile */
@media only screen and (max-width: 768px) {
  .footer {
    padding: 20px 15px; /* Adjust padding for mobile */
  }

  .footer-content p {
    font-size: 14px; /* Reduce font size for mobile */
    margin-bottom: 15px; /* Reduce margin */
  }

  .social-icons {
    gap: 15px; /* Reduce gap between social icons */
  }

  .social-icons a {
    font-size: 20px; /* Reduce icon size for mobile */
  }
}
